<!DOCTYPE html>
<html lang="en">
<head>
  <title>Franklin Onwenu</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet">
  <link href="{{ url_for('static', filename='styles/style.css') }}" rel="stylesheet" />
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js"></script>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">FO</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link" href="index">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="weather">About</a>
            </li>
          </ul>
        </div>
      </nav>
      </div>
    </div>
<div class="bg-primary text-white p-5 text-center">
  <h1>Franklin Onwenu</h1>
  <p>Brownstown, MI | fonwenu@gmail.com</p> 
</div>
  
<div class="bg-primary text-white p-5">
  <div class="row">
    <div class="col-sm-6">
   <h2>Hi, my name is Franklin.</h2>
   <p><b> I am a security engineer from Michigan. Nice to meet you!</b></p>
        <!-- <ul>
            <li>Functioned as support contact for core security technologies such as Data Loss Prevention (DLP), Antivirus (AV) and User Entity & Behavioral  Analytics  (UEBA). </li>
            <li>Led the cloud migration project for on-prem UEBA platform to Google Cloud Platform.</li>
            <li>Deployed GCP services such as compute engines and cloud storage uztiling Terraform modules.</li>
            <li>Collaborated with stakeholders to improve security posture in order to address critical security gaps related to applications and procedures.</li>
            <li>Implemented remediation efforts to improve agent client health within the organization using powershell scripts and Intune.</li>
            <li>Created, implemented, and maintained the enterprise security operations procedures and proposed changes to existing policies and procedures to ensure operating efficiency and regulatory compliance.</li>
            <li>Encouraged team members to maintain code and documentation within Github for versioning control.</li>
            <li>Led internal stand-ups to discuss project timeline status, user stories, blockers, and areas where help was needed. </li>
            <li>Performed application upgrades to resolve open vulnerabilities that posed risks to the organization. </li>
            <li>Successfully closed out several incidents</li>
            <li>Change management </li>
        </ul> -->
    </div>
    <div class="col-sm-6">
    </div>
</body>
</html>
